body {
  padding-top: 50px;
}

h1,
h2 {
  font-family: "Noto Sans JP", sans-serif;
}

h3 {
  font-family: "Lora", serif;
  color: #ffffff;
}

h4 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #ffffff;
}

span {
  font-size: 50px;
}

small {
  margin: 15px;
}

li {
  list-style-type: none;
  color: #aeaeaf;
}

p {
  padding: 0px 10px;
}

a {
  cursor: default;
  color: #151e3d;
}

a:hover {
  text-decoration: none;
}

#city-input {
  height: 50px;
}

#search-button {
  margin: 5px;
  background-color: #c82333;
  color: white;
  box-shadow: 0px;
  border: 0px;
  border-radius: 4px;
  padding: 6px 12px 10px;
}

#current-location {
  background-color: #c82333;
  color: white;
  box-shadow: 0px;
  border: 0px;
  border-radius: 4px;
  padding: 6px 12px 10px;
}

#humidity {
  font-size: 15px;
  margin-top: 0;
  color: #aeaeaf;
}

#wind {
  font-size: 15px;
  color: #aeaeaf;
}

.card {
  width: 75%;
  margin: 0 auto;
  padding: 0 auto;
  border-radius: 4px;
  box-shadow: 2px 1px 8px;
}

.head-colour {
  background-color: #f6f6f6;
}

#description {
  color: #aeaeaf;
  text-transform: capitalize;
  font-size: 15px;
  margin-bottom: 0px;
}

#current-date {
  color: #aeaeaf;
  font-size: 15px;
}

.card-body.text-center {
  text-align: center;
  background-color: #1f6f8b;
  border-radius: 4px;
  box-shadow: 2px 1px 8px;
  width: 100%;
}